/* GENERAL SECTION*/
body {
	margin: 0;
	padding: 0;
	background-color: #fffdfd;
	background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
	color: #40514e;
	font-family: "Merriweather", serif;
}

h1 {
	color: #fffdfd;
	font-family: 'Sacramento', cursive;
	font-size: 5rem;
	line-height: 1.5;
	margin: 2.5rem 0 0 1.875rem;
}

h2 {
	background-color: #008073;
	color: #fff;
	font-weight: 200;
	font-size: 2.92rem;
	line-height: 3.212rem;
	padding: 10px 30px;
}

h3 {
	font-family: "Montserrat-Bold";
}

p {
	color: #8f8f8f;
}

/* NAVIGATION BAR SECTION*/
.background {
	background-color: #008073;
}

.navbar-brand {
	font-size: 1.5rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 20px;
}

.nav-link {
	font-size: 1.2rem;
	font-family: "Montserrat-Light";
}

.nav-link:hover {
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
}

.navbar-brand:hover {
	text-transform: uppercase;
}

/* TITLE SECTION*/
#title {
	background: url(../images/adetechie.jpg) no-repeat top center/cover;
}

em {
	border-bottom: 5px solid #009688;
}

.main__page {
	margin-top: 50px;
}

.career {
	color: #fffdfd;
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	line-height: 1.5;
	padding-left: 5rem;
}

/* ABOUT SECTION*/
.about {
	padding: 7% 15%;
}

.about__section--box {
	text-align: center;
	padding: 5%;
}

.icon {
	color: #008073;
	margin-bottom: 1rem;
}

.icon:hover {
	color: #beebe9;
}

.icon--white {
	color: #fff;
}

/* PORTFOLIO SECTION */
.portfolio {
	padding: 7% 15%;
	text-align: center;
}

.card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.project__img {
	width: 100%;
	border: solid 1px #cccccc;
	margin-bottom: 20px;
}

.view__button {
	margin: 5px;
	border: solid 1px #cccccc;
}

.card---box {
	padding: 3% 2%;
}

/* CONTACT SECTION */
.contact {
	padding: 7% 15%;
}

.contact__icon--link {
	background-color: purple;
	color: seashell;
	border-radius: 100%;
	display: inline-block;
	margin-right: 20px;
}

.contact__detail--link {
	color: #008073;
	text-decoration: none !important;
}

.contact__detail--link:hover {
	border-bottom: 3px solid #008073;
	color: #008073;
	padding-bottom: 3px;
}

/* BLOG SECTION */
.blog {
	padding: 7% 15%;
}

.blog__link {
	color: #008073;
}

.blog__link:hover {
	color: #008073;
}

.publish__year {
	color: #070707;
}

/* ///////////////// */
.full-height {
	height: 100vh;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 3rem;
	}
	.career {
		font-size: 1.5rem;
	}
	.contact__detail--link {
		font-size: 0.8rem;
	}
}
